h5py 
ipympl 
librosa 
ninja 
numpy
pandas 
pesq 
pillow 
protobuf 
pyarrow
pyroomacoustics 
pystoi 
pytorch-lightning 
scipy 
sdeint 
setuptools 
seaborn 
torch 
torch-ema 
torchaudio
torchvision 
torchinfo 
torchsde 
tqdm 
wandb
# for Tsubame
psutil