h5py==3.10.0
ipympl==0.9.3
librosa==0.10.1
ninja==1.11.1.1
numpy==1.24.4
pandas==2.0.3
pesq==0.0.4
pillow==10.2.0
protobuf==4.25.2
pyarrow==15.0.0
pyroomacoustics==0.7.3
pystoi==0.4.1
pytorch-lightning==2.1.4
scipy==1.10.1
sdeint==0.3.0
setuptools==44.0.0
seaborn==0.13.2
torch==2.2.0
torch-ema==0.3
torchaudio==2.2.0
torchvision==0.17.0
torchinfo==1.8.0
torchsde==0.2.6
tqdm==4.66.1
wandb==0.16.2