asteroid==0.5.1  # TODO: remove
h5py==3.6.0
ipympl==0.8.8
ipywidgets==7.6.5
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
librosa==0.9.1
numpy==1.22.2
pandas==1.4.0
Pillow==9.0.1
pytorch-lightning==1.5.10   # TODO update
scipy==1.8.0
sdeint==0.2.4
seaborn==0.11.2
torch==1.10.2     # TODO update
torch-ema==0.3
torchaudio==0.10.2
torchvision==0.11.3
torchinfo==1.6.3
torchsde==0.2.5
tqdm==4.63.0
wandb==0.12.11
